<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <section class="header">

    </section>
    <form id="loginForm" method="post" action="" onsubmit="return validateForm()">
        <h1 align="center">Login</h1>
        <div class="text">
            <input type="text" name="username" id="username" placeholder="Username" required>
        </div>
        <div class="text">
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <input type="submit" value="Login" class="login">
        <br><br>
        <div class="su">
            Don't have an account?<br>
            <a href="/signup">Sign up</a>
        </div>
    </form>
    <script src="login.js"></script>
</body>
</html>